@import './reset';
@import './variables';

// App.tsx
.main {
  width: 100%;
  height: 100vh;
  background: url('@/assets/images/main_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  .layout {
    width: 100%;
    .header {
      position: fixed;
      left: 20px;
      top: 20px;
      z-index: 1000;
      color: var(--white);
      font-size: 40px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: var(--net-red);
      }
    }

    .home {
      display: flex;
      justify-content: center;
      width: 750px;
      padding: 7rem 2.5rem;
      background: rgba($color: #000000, $alpha: 0.45);
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);
      text-align: center;

      > article {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        width: 100%;
        min-width: 600px;
        // > h1 {
        //   color: var(--net-red);
        //   display: block;
        //   width: 260px;
        //   height: 260px;
        //   background: url('@/assets/images/netflix_logo.png');
        //   background-repeat: no-repeat;
        //   background-position: center;
        //   background-size: contain;
        //   text-indent: -999px;
        //   overflow: hidden;
        // }
        & .title {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          color: var(--white);
          > h1 {
            font-size: 50px;
            font-weight: 700;
          }
          > p {
            font-size: 20px;
          }
        }

        > form {
          width: 100%;
          position: relative;

          > button {
            display: block;
            position: absolute;
            left: 15px;
            top: 11px;
            z-index: 10;
            border: 0;
            outline: 0;
            background: none;
            color: var(--net-red);
            font-size: 24px;
            cursor: pointer;
          }

          > input {
            width: 100%;
            height: 50px;
            border: 0;
            border-radius: 25px;
            outline: 0;
            font-size: 18px;
            padding-left: 48px;
            padding-right: 15px;
            box-sizing: border-box;

            &::placeholder {
              color: #999;
            }
          }
        }
      }
    }

    .footer {
      width: 100%;
      background-color: var(--net-red);
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 1000;
      padding: 10px 15px;
      > p {
        color: var(--white);
      }
    }
  }
}
