.movie_list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  margin: 0 auto;
  padding: 5.25rem 0;
  max-height: 100vh;
  position: relative;
  z-index: 110;

  > h1 {
    font-size: 48px;
    color: var(--white);
    > span {
      font-size: 18px;
      font-weight: 400;
    }
  }

  > article {
    height: 90vh;
    overflow-y: auto;
    /* 스크롤바의 폭 너비 */
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--net-jin-red); /* 스크롤바 색상 */
      border-radius: 10px; /* 스크롤바 둥근 테두리 */
    }
    &::-webkit-scrollbar-track {
      background: rgba(220, 20, 60, 0.1); /*스크롤바 뒷 배경 색상*/
    }

    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      > li {
        width: calc(20% - 1rem);
        max-height: 480px;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        > img {
          width: 100%;
          height: 100%;
          transition: all 0.3s;

          &:hover {
            animation: hoverImg 0.3 forwards;
          }
          @keyframes hoverImg {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.1);
            }
            100% {
              transform: scale(1);
            }
          }
        }
        // > dl {
        //   width: 75%;
        //   display: flex;
        //   flex-direction: column;
        //   gap: 15px;
        //   color: var(--white);
        //   padding: 0 2rem;
        //   dt {
        //     font-size: 30px;
        //     font-weight: bold;

        //     span {
        //       display: inline-block;
        //       margin-right: 15px;
        //     }
        //   }
        //   dd {
        //     font-size: 18px;
        //     font-weight: normal;
        //     span {
        //       display: inline-block;
        //       margin-right: 15px;
        //     }
        //   }
        // }
      }
    }

    .no_movie_view {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      color: var(--white);
      width: 750px;
      padding: 7rem 2.5rem;
      background: rgba($color: #000000, $alpha: 0.45);
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);

      > h3 {
        font-size: 40px;
        font-weight: 700;
      }
      > p {
        font-size: 20px;
      }
      > button {
        width: 100%;
        height: 50px;
        border: 0;
        border-radius: 25px;
        outline: 0;
        font-size: 18px;
        padding-left: 48px;
        padding-right: 15px;
        box-sizing: border-box;
        color: var(--white);
        background: var(--net-red);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background: var(--net-jin-red);
        }
      }
    }
  }

  .movie_pagination {
    margin: 0 auto;
    > ul {
      display: flex;
      gap: 3px;
      align-items: center;

      > li {
        > button {
          display: block;
          border: 0;
          outline: 0;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 18px;
          color: var(--white);
          background: none;
          box-sizing: border-box;
          cursor: pointer;
          transition: all 0.3s;
        }
        &.active {
          > button {
            font-weight: bold;
            background: var(--net-red);
          }
        }
        &.prev_page,
        &.next_page {
          > button {
            color: var(--white);
            font-size: 22px;
            &:hover {
              color: var(--net-red);
            }
          }
        }
      }
    }
  }
}

.movie_overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--black);
  opacity: 0.35;
  z-index: 100;
}
